<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-y="page-title">الرئيسية</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../base/reset.css" />
    <link rel="stylesheet" href="../../base/tokens.css" />
    <link rel="stylesheet" href="../../base/typography.css" />
    <link rel="stylesheet" href="../../base/utilities.css" />

    <link rel="stylesheet" href="../../components/y-c-navbar.css" />
    <link rel="stylesheet" href="../../components/y-c-footer.css" />
    <link rel="stylesheet" href="../../components/y-c-cart-table.css" />
    <link rel="stylesheet" href="../../components/y-c-cart-summary.css" />
    <link rel="stylesheet" href="../../components/y-c-note-textarea.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div data-y="nav"></div>

    <main
      data-y="main"
      class="y-u-my-5 y-u-container-fluid y-u-d-flex y-u-flex-column y-u-justify-center"
    >
      <div data-y="cart-table"></div>
      <div class="y-u-row y-u-col-12 y-u-d-flex y-u-justify-around y-u-my-8">
        <div data-y="note-textarea" class="y-u-col-lg-4"></div>
        <div data-y="cart-summary" class="y-u-col-lg-6"></div>
      </div>
    </main>

    <footer data-y="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <script src="../../js/y-navbar.js"></script>
    <script src="../../js/y-footer.js"></script>
    <script src="../../js/y-cart-table.js"></script>
    <script src="../../js/y-note-textarea.js"></script>
    <script src="../../js/y-cart-summary.js"></script>
  </body>
</html>
