<header
  class="header contact-us y-u-w-100 y-u-d-flex y-u-justify-center y-u-align-items-center"
>
  <div
    class="abs y-u-d-flex y-u-justify-center y-u-align-content-center y-u-flex-column y-u-pt-5 y-u-gap-2"
  >
    <h1 class="y-u-text-center y-t-fs-titles y-t-text-white y-u-pt-5">
      تواصل معنا
    </h1>
  </div>
  <img
    src="/assets/contact-us.jpg"
    class="y-u-w-100 y-u-object-fit-cover"
    alt="مطاعم لبناني"
  />
</header>

<main class="main-content">
  <div class="y-u-container">
    <div class="y-u-row y-u-justify-around y-u-my-sm-10">
      <div
        class="contact-us y-u-col-lg-5 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-justify-lg-center y-u-flex-wrap y-u-gap-3 y-u-mb-sm-5 y-u-mb-lg-0"
      >
        <p class=" y-t-fs-titles">تواصل معنا</p>
        <p class="content">
          يسعدنا نسمع منكم! سواء عندكم استفسار، ملاحظة، أو طلب خاص، فريق
          لباني دائمًا في خدمتك.
        </p>
        <div
          class="y-u-mb-4 contact-nums"
          style="color: var(--y-color-btn)"
        >
          <p><i class="fas fa-phone y-u-ms-2"></i>0123456789</p>
          <p><i class="fa-solid fa-tty y-u-ms-2"></i>0987654321</p>
          <div class="social-icons y-u-me-sm-4 y-u-mt-5" aria-label="Social media links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
          </div>
        </div>
      </div>
      <div
        class="y-u-col-lg-4 y-u-col-md-6 y-u-col-sm-10 custom-box y-u-shadow-xl y-u-my-sm-10"
      >
        <h4 class="y-u-mb-4 y-t-fw-semibold">راسلنا</h4>
        <form id="contactForm">
          <div class="y-u-mb-5">
            <label for="name" class="form-label y-t-fw-semibold">الاسم</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="ادخل اسمك"
              required
            />
          </div>
          <div class="y-u-mb-5">
            <label for="email" class="form-label y-t-fw-semibold"
              >البريد الإلكتروني</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="ادخل بريدك الإكتروني"
              required
            />
          </div>
          <div class="y-u-mb-3">
            <label for="message" class="form-label y-t-fw-semibold">الرسالة</label>
            <textarea
              class="form-control"
              id="message"
              rows="5"
              placeholder="اكتب رسالتك هنا..."
              required
            ></textarea>
          </div>
          <div class="y-u-d-flex y-u-justify-end">
            <button type="submit" class="form-btn y-u-w-25">إرسال</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
