<div
  class="orders-desktop-wrapper y-u-d-sm-none y-u-d-md-none y-u-d-lg-block d-flex y-u-justify-center y-u-align-content-center y-u-me-5"
>
  <div class="order-item">
    <div class="order-labels y-u-row y-u-text-center y-u-text-white">
      <div class="y-u-col">الطلب</div>
      <div class="y-u-col">التاريخ</div>
      <div class="y-u-col">الإجمالي</div>
      <div class="y-u-col">إجراءات</div>
    </div>

    <div class="order-details y-u-row y-u-text-center y-u-align-items-center">
      <div class="order-id y-u-col">#2863</div>
      <div class="order-date y-u-col">1 سبتمبر ,2025</div>
      <div
        class="order-price y-u-col y-u-d-flex y-u-justify-center y-u-align-items-center y-u-gap-2"
      >
        <span>30.00</span>
        <img src="/assets/Vector4.png" alt="Currency Icon" />
      </div>
      <div
        class="order-actions y-u-col y-u-d-flex y-u-justify-center y-u-gap-2"
      >
        <button class="btn-action">إلغاء</button>
        <button class="btn-action">عرض</button>
        <button class="btn-action">الدفع</button>
      </div>
    </div>
  </div>
</div>

<div
  class="orders-container y-u-d-lg-none y-u-d-flex y-u-flex-column y-u-gap-4"
>
  <div class="order-item y-u-d-flex y-u-gap-3">
    <div class="order-labels-column y-u-d-flex y-u-flex-column y-u-gap-3">
      <div>الطلب</div>
      <div>التاريخ</div>
      <div>الإجمالي</div>
      <div>إجراءات</div>
    </div>
    <div class="order-details-column y-u-d-flex y-u-flex-column y-u-gap-3">
      <div class="order-id">#2863</div>
      <div class="order-date">1 سبتمبر ,2025</div>
      <div
        class="order-price y-u-d-flex y-u-align-items-center y-u-justify-center y-u-gap-2"
      >
        <span>30.00</span>
        <img src="/assets/Vector4.png" alt="Currency Icon" />
      </div>
      <div class="order-actions y-u-d-flex y-u-gap-2">
        <button class="btn-action">إلغاء</button>
        <button class="btn-action">عرض</button>
        <button class="btn-action">الدفع</button>
      </div>
    </div>
  </div>
</div>
