<div class="y-u-container-fluid y-u-p-10">
  <div class="y-u-row y-u-align-items-center y-u-justify-between">
    <div
      class="y-u-d-flex y-u-flex-column y-u-col-12 y-u-col-lg-6 y-u-col-md-12 y-u-gap-4 y-u-p-md-5"
    >
      <p class="title y-t-fs-titles">من نحن</p>
      <div class="details y-t-fs-lg y-t-fw-medium">
        <p>
          منذ انطلاقنا وحتى اليوم، تظل مطاعم لباني عنوانًا للأصالة والمذاق
          السعودي الأصيل.
        </p>
        <p>
          نتميز بتقديم مندي اللحم على الطريقة اللبّانية الخاصة بنا، حيث تجتمع
          النكهات الغنية مع الجودة العالية لتصنع تجربة لا تُنسى.
        </p>
        <p>
          بجانب المندي، نقدم مجموعة متنوعة من السلطات الطازجة والحلويات الشرقية
          التي تضيف لمسة كاملة لكل وجبة.
        </p>
        <p>
          سواء كنت تبحث عن وجبة منزلية دافئة أو تخطط لوليمة عامرة بالأهل
          والأصحاب، نحن هنا لنكون خيارك الأول في كل مناسبة.
        </p>
      </div>
    </div>

    <div
      class="image-container y-u-pos-relative y-u-d-flex y-u-justify-center y-u-align-content-center y-u-align-items-center y-u-col-12 y-u-col-lg-4 y-u-col-md-8 mx-auto y-u-p-0 y-u-my-5 y-u-my-lg-0"
    >
      <div class="rectangle y-u-pos-absolute"></div>
      <div class="rectangle2 y-u-pos-absolute"></div>
      <img
        src="/assets/who.png"
        alt="مطاعم لباني"
        class="who-img y-u-pos-relative y-u-z-2 img-fluid y-u-w-80 y-u-h-90"
      />
    </div>
  </div>
</div>
