<header
  class="header y-u-w-100 y-u-pos-relative"
>
  <div
    class="abs y-u-d-flex y-u-flex-column y-u-justify-start y-u-gap-3  y-u-h-75 y-u-w-100"
  >
    <h1
      class="y-u-text-center y-t-text-primary y-t-fs-headers y-u-mt-extra y-u-pt-10 y-t-fw-light "
    >
      أشهى منـــــدي
    </h1>
    <p class="y-t-text-white y-u-text-center y-t-fs-2xl ">
      على أصــــــوله
    </p>
    <div class="y-u-d-flex y-u-justify-center">
      <a href="#" class="btn y-u-d-flex y-u-justify-center">اطلب الآن</a>
    </div>
  </div>
  <img
    src="/assets/header.jpg"
    class="y-u-w-100 y-u-h-100 object-fit-cover y-u-pos-absolute y-u-top-0 y-u-start-0 y-u-z-0"
    alt="مطاعم لبناني"
  />
</header>
