<div class=" y-u-d-flex y-u-mt-lg-10">
  <form class=" y-u-row y-u-g-5 y-u-d-flex y-u-align-content-center y-u-justify-around" id="addressForm">
    <div class="y-u-col-lg-5 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-mb-5">
      <label for="firstName" class="form-label y-t-fs-lg">الإسم الأول</label>
      <input
        type="text"
        class="form-control custom-box"
        id="firstName"
      />
    </div>

    <div class="y-u-col-lg-5 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-mb-5">
      <label for="lastName" class="form-label y-t-fs-lg">اسم العائلة</label>
      <input
        type="text"
        class="form-control custom-box"
        id="lastName"
      />
    </div>

    <div class="y-u-col-lg-11 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-mb-5">
      <label class="form-label y-t-fs-lg">الدولة / المنطقة</label>
      <p class="fw-semibold fs-5">المملكة العربية السعودية</p>
    </div>

    <div class="y-u-col-11  y-u-d-flex y-u-flex-column">
      <label class="form-label y-t-fs-lg">العنوان</label>
      <input
        type="text"
        class="form-control custom-box y-u-mb-5"
        placeholder="عنوان الشارع / رقم المنزل"
      />
      <input
        type="text"
        class="form-control custom-box"
        placeholder="رقم الشقة (اختياري)"
      />
    </div>

    <div class="y-u-col-lg-5 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-mb-5">
      <label class="form-label y-t-fs-lg">المدينة</label>
      <input type="text" class="form-control custom-box" />
    </div>
    <div class="y-u-col-lg-5 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-mb-5">
      <label class="form-label y-t-fs-lg">المحافظة</label>
      <input type="text" class="form-control custom-box" />
    </div>

    <div class="y-u-col-lg-5 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-mb-5">
      <label class="form-label y-t-fs-lg">الرمز البريدي</label>
      <input type="text" class="form-control custom-box" />
    </div>

    <div class="y-u-col-lg-5 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-mb-5">
      <label class="form-label y-t-fs-lg">الهاتف</label>
      <input type="text" class="form-control custom-box" />
    </div>

    <div class="y-u-col-md-11 y-u-d-flex y-u-flex-column">
      <label class="form-label y-t-fs-lg">البريد الإلكتروني</label>
      <input type="email" class="form-control custom-box" />
    </div>
  </form>
</div>
