.policy div p {
  font-weight: 500;
  font-size: 1.2rem;
  color: #302d2d;
}
.policy div > :first-child,
.my-acc-titles i,
.my-acc-titles span {
  color: #302d2d;
  font-weight: 600;
  font-size: 1.6rem;
}
