<div class="y-u-container-fluid">
  <p class="y-t-fs-titles y-u-pb-3 y-u-pt-md-5 y-u-pb-md-5 y-u-m-lg-0">السلة</p>

  <div
    class="y-u-row y-t-fw-bold y-t-fs-lg y-t-fw-medium y-t-text-black y-u-text-center y-u-d-none y-u-d-lg-flex"
  >
    <div class="y-u-col-md-5 y-u-text-right y-u-pe-extra">المنتج</div>
    <div class="y-u-col-md-2">الكمية</div>
    <div class="y-u-col-md-2">السعر</div>
    <div class="y-u-col-md-3">الإجمالي</div>
  </div>

  <p class="y-t-fs-2xl y-t-fw-bold y-u-d-lg-none y-u-text-right">المنتج</p>
  <hr class="y-t-text-black" />

  <div class="y-u-row y-u-align-items-center y-u-py-3 border-bottom">
    <div
      class="y-u-col-12 y-u-col-lg-5 y-u-col-md-12 y-u-d-flex y-u-align-items-center y-u-gap-5 y-u-mb-3 y-u-mb-md-0"
    >
      <span class="remove y-t-text-cherry-red fs-5">✖</span>
      <div
        class="product-img y-u-col-sm-5 y-u-d-flex y-u-justify-center y-u-align-items-center flex-shrink-0"
      >
        <img
          src="/assets/zabeha.png"
          alt="ذبيحة"
          class="y-u-img-fluid rounded"
          style="max-height: 90px"
        />
      </div>
      <div class="product-info y-u-text-right y-u-pe-3">
        <p class="category y-u-mb-1 small">التصنيف: <span>المندي</span></p>
        <p class="name y-u-mb-0 y-t-fw-bold">ذبيحة كاملة</p>
      </div>
    </div>

    <div
      class="y-u-col-6 y-u-col-lg-2 y-u-col-md-5 y-u-d-block y-u-mb-3 y-u-mb-md-0"
    >
      <div
        class="y-u-d-flex y-u-justify-center y-u-justify-md-around y-u-align-items-center"
      >
        <p
          class="y-t-fs-xl y-u-mb-0 y-u-d-lg-none y-u-me-2 y-t-fw-bold y-u-px-4 y-u-py-4"
        >
          الكمية:
        </p>
        <div
          class="quantity-box y-u-d-flex y-u-justify-md-around y-u-align-items-center"
        >
          <button class="btn btn-sm btn-outline-dark y-u-plus">+</button>
          <span class="num y-u-mx-2">1</span>
          <button class="btn btn-sm btn-outline-dark y-u-minus">-</button>
        </div>
      </div>
    </div>

    <div
      class="y-u-col-md-2 y-u-col-lg-2 y-u-text-center y-u-d-none y-u-d-lg-block"
    >
      <p class="value y-u-mb-0">1424</p>
    </div>

    <div
      class="prices y-u-col-12 y-u-col-lg-3 y-u-col-md-12 y-u-d-flex y-u-justify-around y-u-align-content-center y-u-text-md-left"
    >
      <p class="y-u-d-lg-none">
        <span class="y-t-fw-bold y-u-me-2">السعر:</span>
        <span class="value y-u-p-3"
          >1424
          <span class="y-u-d-lg-none"
            ><img src="assets/Vector2.png" alt="" /></span
        ></span>
      </p>
      <p class="y-u-mb-0">
        <span class="y-u-d-lg-none y-t-fw-bold y-u-me-2">الإجمالي:</span>
        <span class="value y-u-p-3"
          >1424
          <span class="y-u-d-lg-none"
            ><img src="assets/Vector2.png" alt="" /></span
        ></span>
      </p>
    </div>
  </div>
</div>
