<div class="custom-box y-u-col-lg-10 y-u-col-sm-12 shadow-lg y-u-p-8 y-u-my-6">
  <h4 class="total y-t-fs-xl y-u-mb-10">اجمالي سلة المشتريات</h4>
  <div >
    <div class="totals y-u-mb-3 y-u-d-flex y-u-flex-row y-u-justify-between">
      <h5 class="">ضريبة القيمة المضافة</h5>
      <div class="tax">
        <h5
          class="y-u-d-flex y-u-flex-row y-u-justify-around y-u-align-items-center"
        >
          30.00
          <span class="y-u-me-3"><img src="/assets/Vector2.png" alt="" /></span>
        </h5>
      </div>
    </div>
    <div class="totals y-u-mb-3 y-u-d-flex y-u-flex-row y-u-justify-between">
      <h5 class="">الاجمالي المقدر</h5>
      <div class="tax">
        <h5
          class="y-u-d-flex y-u-flex-row y-u-justify-around y-u-align-items-center"
        >
          1424
          <span class="y-u-me-3"><img src="/assets/Vector2.png" alt="" /></span>
        </h5>
      </div>
    </div>
    <div class="btn y-u-mb-3 y-u-d-flex y-u-justify-center">
      <div class="y-u-w-75">
        <div
          class="y-u-obj-border-2 rounded-3 y-u-text-center y-u-py-3 y-u-shadow-sm"
        >
          <a
            href="/payment.html"
            class="h6 y-t-fw-semibold y-u-m-0 y-u-text-decoration-none"
            style="color: var(--y-color-btn)"
            >المتابعة لإتمام الطلب</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
