
.radio-selected {
  width: 29px;
  height: 29px;
  border: 4px solid #302d2d;
  border-radius: 50%;
  position: relative;
}
.radio-selected::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #302d2d;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.radio-empty {
  width: 29px;
  height: 29px;
  border: 4px solid #302d2d;
  border-radius: 50%;
}

.text-purple {
  color: #772fd5;
}

.arrow-back {
  font-size: 24px;
  color: #302d2d;
}

@media (max-width: 991px) {
  .auth-btn {
    font-size: var(--y-font-size-2xl);
    width: 100%;
  }
  .back {
    font-size: var(--y-font-size-xl);
  }
}