<div class="y-u-d-flex y-u-justify-center y-u-py-4 y-u-mb-lg-10">
  <div class="y-u-row y-u-justify-center y-u-w-100">
    <div class="y-u-col-md-10 y-u-col-sm-11">
      <div class="y-u-p-3 y-u-p-md-4">
        <div
          class="y-u-d-flex y-u-flex-column y-u-align-items-center y-u-justify-center y-u-py-5 y-u-py-md-4"
        >
          <div class="y-u-col-md-8 y-u-col-lg-10 y-u-text-center">
            <img
              src="/assets/logo2.png"
              class="y-u-img-fluid y-u-mb-3 auth-logo"
              alt="logo"
            />
            <h2 class="y-u-mb-3 y-t-fs-titles">تسجيل الدخول</h2>
          </div>
        </div>

        <div
          class="y-u-row y-u-d-flex y-u-justify-center y-u-g-4 y-u-g-md-4 y-u-col-12"
        >
          <div class="y-u-col-lg-6 y-u-col-md-10 y-u-col-sm-12">
            <form
              action="Login"
              id="authForm"
              method="POST"
              class="y-u-d-flex y-u-flex-column y-u-gap-3"
            >
              <div class="y-u-mb-5 y-u-d-flex y-u-flex-column y-u-col-sm-12">
                <label
                  for="email"
                  class="form-label y-t-fw-semibold  "
                  >الايميل</label
                >
                <input
                  type="email"
                  class="form-control y-t-border-secondary y-u-py-2"
                  id="email"
                  placeholder="example@example.com"
                  required
                />
              </div>

              <div class="y-u-mb-5 y-u-d-flex y-u-flex-column">
                <label
                  for="password"
                  class="form-label y-t-fw-semibold  "
                  >كلمة المرور</label
                >
                <input
                  type="password"
                  class="form-control y-t-border-secondary y-u-py-2"
                  id="password"
                  placeholder="********"
                  required
                />
              </div>

              <div
                class="y-u-d-flex y-u-flex-md-row y-u-justify-between y-u-align-items-center y-u-mb-lg-10"
              >
                <div class="y-u-d-flex y-u-align-items-center">
                  <input
                    type="checkbox"
                    class="form-check-input y-u-ms-2"
                    id="remember"
                  />
                  <label class="form-check-label y-t-fs-sm" for="remember"
                    >تذكرني</label
                  >
                </div>
                <a
                  href="/forget-password.html"
                  class="y-t-text-decoration-none y-t-fs-sm"
                  style="color: var(--y-color-btn)"
                >
                  نسيت كلمة المرور؟
                </a>
              </div>

              <div class="y-u-d-grid y-u-my-4">
                <button
                  type="submit"
                  class="y-t-border-2 y-u-py-2 y-t-fw-semibold auth-btn"
                >
                  تسجيل دخول
                </button>
              </div>

              <div class="y-u-mt-4 y-u-pt-2 y-u-text-center">
                <p class="y-u-mb-0 y-t-fs-sm">
                  ليس لديك حساب؟
                  <a
                    href="/signup.html"
                    class="y-t-text-decoration-none y-t-fw-bold"
                    style="color: var(--y-color-btn)"
                  >
                    سجّل حسابك هنا
                  </a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
