<div id="reset-form" class="y-u-container-fluid">
  <div class="y-u-d-flex y-u-justify-center y-u-align-items-center y-u-mt-lg-10 y-u-mb-10">
    <div class="y-u-reset-container y-u-text-sm-end y-u-row" style="width: 75%">
      <h2 class=" y-t-fs-titles y-u-mb-4">تعيين كلمة السر</h2>

      <div class="y-u-col-12 y-u-mb-4">
        <label for="email" class="form-label y-t-fw-bold y-u-my-5 y-u-d-block email-label">
          البريد الإلكتروني
        </label>
        <input
          type="email"
          class="form-control y-t-border y-t-border-dark custom-box y-u-m-5 y-u-me-0 y-u-w-100"
          id="email"
          required
        />
      </div>

      <div class="y-u-col-12 y-u-my-sm-5">
        <p class="y-t-text-muted y-u-mb-4 y-u-mx-auto reset-note">
          نسيت كلمة مرورك؟ فضلًا أدخل اسم المستخدم أو البريد الإلكتروني
          المسجل لدينا. سوف تستلم رابطاً لإنشاء كلمة مرور جديدة عبر بريدك
          الإلكتروني.
        </p>
      </div>

      <div class="y-u-col-12">
        <button class="reset-btn y-u-mt-5 y-u-px-4 y-u-py-2 y-t-fw-bold">
          اعادة تعيين كلمة السر
        </button>
      </div>
    </div>
  </div>
</div>

<div id="reset-success" style="display: none;">
  <div class="y-u-container-fluid y-u-d-flex y-u-justify-center y-u-align-items-center y-u-my-5 y-u-py-5">
    <div class="y-u-reset-container y-u-text-end y-u-row y-u-p-5" style="width: 75%">
      <h2 class="y-t-fs-titles y-u-mb-4 y-u-col-12">تم تعيين كلمة السر</h2>
      <h4 class="y-u-mt-10 email-label">
        <span class=" y-t-text-green y-u-me-3">
          <i class="fas fa-check-circle"></i>
        </span>
        لقد تم إرسال رسالة إلى البريد الإلكتروني لإعادة تعيين كلمة المرور.
      </h4>
      <p class="y-u-col-lg-9 y-u-col-sm-12 y-u-mt-7 reset-note">
        لقد تم إرسال رسالة إعادة تعيين كلمة المرور إلى عنوان البريد
        الإلكتروني الموجود في ملف حسابك. ولكن قد تستغرق عدة دقائق لتظهر في
        صندوق البريد الوارد لديك. يرجى الانتظار لمدة 10 دقائق على الأقل قبل
        محاولة إعادة تعيين آخر.
      </p>
    </div>
  </div>
</div>
