<div class=" y-u-pb-10 y-u-mb-10 y-u-p-sm-6 y-u-lg-p-10">
  <div class="row">
    <div class="col-12 y-u-text-end">
      <p class="title y-t-fs-titles y-u-ps-5 y-u-pb-10">وجباتنا المميزة</p>
    </div>

    <div class="content col-12 y-u-d-flex y-u-justify-center y-u-flex-wrap y-u-gap-4">
      <div class="menu-item y-u-text-center">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/dish1.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-8 y-u-pt-4">
          <p class="y-t-fs-lg y-t-fw-medium">النفـــر</p>
          <p class="menu-item-calories">1530</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-fs-lg y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            83
            <span class=" y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/dish2.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-8 y-u-pt-4">
          <p class="y-t-fs-lg y-t-fw-medium">ربع تيس</p>
          <p class="menu-item-calories">2244</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-fs-lg y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            365
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/dish3.png" alt="طبق 3" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-8 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">سلطة لبن</p>
          <p class="menu-item-calories">131</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-fs-lg y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            5
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/dish4.png" alt="طبق 4" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-8 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">كنافــة</p>
          <p class="menu-item-calories">490</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-fs-lg y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            10
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
