.reset-btn {
  min-width: 150px;
  padding: 0.35rem 1rem;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s;
  background-color: var(--y-color-btn);
  font-weight: 600;
  height: 40px;
  white-space: nowrap;
}
.custom-box {
  padding: 5px 6px;
  border-radius: 0.5rem;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  resize: vertical;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.custom-box:focus {
  border-color: #be8647;
  box-shadow: 0 0 10px rgba(190, 134, 71, 0.3);
  outline: none;
}

.custom-box::placeholder {
  color: #999;
  font-style: italic;
}
.email-label {
  font-size: 1.4rem;
  font-weight: bold;
}