<main class="y-u-container">
  <div class=" y-u-my-10">
    <div class="y-u-row y-u-justify-center">
      <div class="policy y-u-col-lg-12 y-u-col-md-11 y-u-col-sm-12 y-u-d-flex y-u-flex-column y-u-gap-2">
        <h2 id="refund" class="y-u-mb-7 y-t-fs-titles">سياسة الاسترجاع</h2>
        <div>
          <p class="y-u-mb-7 y-t-fw-medium">سياسية الاسترجاع والاسترداد</p>
          <p>
            نعمل دائما لنيل رضاكم ونكون عند حسن ظنكم بنا. إذا كنت ترغب في
            إرجاع منتج ما، فنحن نقبل بسرور استبدال المنتج أو منحك رصيداً
            في المطعم أو إرجاع المنتج مقابل نقاط مطاعم البَّاني.
          </p>
          <p>
            في حال طلب استرجاع أي منتج، يرجى التواصل معنا عبر البريد
            الإلكتروني: info@gmail.com أو الهاتف أو الواتساب: 0558842828
          </p>
        </div>

        <div>
          <p class="y-u-mb-7 y-t-fw-medium">الدفع عبر الإنترنت:</p>
          <p>
            ستتم معالجة المبالغ المستردة في غضون ٢٤ ساعة وستضاف إلى حساب
            العميل في غضون 3-5 أيام عمل، اعتمادًا على مصدر البنك.
          </p>
        </div>
        <div>
          <p class="y-u-mb-7 y-t-fw-medium">الدفع نقدا عند التسليم:</p>
          <p>
            ستُضاف المبالغ المستردة إلى حساب العميل كنقاط مطاعم البَّاني
            ويمكن استخدامها في الطلب التالي.
          </p>
        </div>
        <div>
          <p class="y-u-mb-7 y-t-fw-medium">نقاط مطاعم البَّاني:</p>
          <p>
            ستُضاف المبالغ المستردة إلى حساب العميل كنقاط مطاعم البَّاني
            ويمكن استخدامها في الطلب التالي
          </p>
        </div>
        <div>
          <p class="y-u-mb-7 y-t-fw-medium">سياسة الشحن</p>
          <p>
            يتم الشحن خلال اليوم لكل الطلبات داخل المدينة المنورة، اما كل
            الطلبات داخل السعودية وخارج المدينة المنورة يستغرق الشحن من
            يوم الى ثلاثة ايام عمل.
          </p>
        </div>
        <h2 id="privacy" class="y-u-mt-10 y-u-mb-7 y-t-fs-titles">سياسة الإستخدام</h2>
        <div>
          <p class="y-u-mb-7 y-t-fw-medium">سياسية الاسترجاع والاسترداد</p>
          <p>
            نعمل دائما لنيل رضاكم ونكون عند حسن ظنكم بنا. إذا كنت ترغب في
            إرجاع منتج ما، فنحن نقبل بسرور استبدال المنتج أو منحك رصيداً
            في المطعم أو إرجاع المنتج مقابل نقاط مطاعم البَّاني.
          </p>
          <p>
            في حال طلب استرجاع أي منتج، يرجى التواصل معنا عبر البريد
            الإلكتروني: info@gmail.com أو الهاتف أو الواتساب: 0558842828
          </p>
        </div>

        <div>
          <p class="y-u-mb-7 y-t-fw-medium">الدفع عبر الإنترنت:</p>
          <p>
            ستتم معالجة المبالغ المستردة في غضون ٢٤ ساعة وستضاف إلى حساب
            العميل في غضون 3-5 أيام عمل، اعتمادًا على مصدر البنك.
          </p>
        </div>
        <div>
          <p class="y-u-mb-7 y-t-fw-medium">الدفع نقدا عند التسليم:</p>
          <p>
            ستُضاف المبالغ المستردة إلى حساب العميل كنقاط مطاعم البَّاني
            ويمكن استخدامها في الطلب التالي.
          </p>
        </div>
        <div>
          <p class="y-u-mb-7 y-t-fw-medium">نقاط مطاعم البَّاني:</p>
          <p>
            ستُضاف المبالغ المستردة إلى حساب العميل كنقاط مطاعم البَّاني
            ويمكن استخدامها في الطلب التالي
          </p>
        </div>
        <div>
          <p class="y-u-mb-7 y-t-fw-medium">سياسة الشحن</p>
          <p>
            يتم الشحن خلال اليوم لكل الطلبات داخل المدينة المنورة، اما كل
            الطلبات داخل السعودية وخارج المدينة المنورة يستغرق الشحن من
            يوم الى ثلاثة ايام عمل.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
