<div class="menu y-u-lg-p-10  y-u-p-sm-6">
  <div class="row">
    <div class="col-12 y-u-text-end">
      <p class="title y-t-fs-titles y-u-ps-5 y-u-pb-10">قائمة الطعام</p>
    </div>

    <div class="content y-u-col-12 y-u-d-flex y-u-flex-wrap y-u-justify-center y-u-gap-4">
      <div class="category y-u-col-12 y-u-p-5 y-u-py-3">
        <p class="y-t-fs-xl y-t-fw-medium" >المندي</p>
      </div>
      <div class="menu-item y-u-text-center y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/dish1.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">النفـــر</p>
          <p class="menu-item-calories">1530</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            85
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/dish2.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">ربع تيس</p>
          <p class="menu-item-calories">2244</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            365
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>
      <div class="menu-item y-u-text-center y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/nos tees.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">نص تيس</p>
          <p class="menu-item-calories">4485</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            712
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>
      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/zabeha.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">ذبيحة كاملة</p>
          <p class="menu-item-calories">8976</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            1424
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="category y-u-col-12 y-u-p-5 y-u-py-7">
        <p class="y-t-fs-xl y-t-fw-medium">السلطات</p>
      </div>
      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/yonan-salad.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-pb-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">سلطة يوناني</p>
          <p class="menu-item-calories">108</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            10
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/salad.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">سلطة خضراء</p>
          <p class="menu-item-calories">108</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            8
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>
      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/red-salad.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">سلطة حمراء</p>
          <p class="menu-item-calories">44</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            3
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>
      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/green-salad.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">سلطة خضراء</p>
          <p class="menu-item-calories">44</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            10
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>
      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/milk-salad.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">سلطة لبن</p>
          <p class="menu-item-calories">131</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            5
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/bsbas.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium text-wrap">بسباس عدني</p>
          <p class="menu-item-calories">52</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            5
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/taheena.png" alt="طبق 2" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">طحينة</p>
          <p class="menu-item-calories">169</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            4
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="category y-u-col-12 y-u-p-5 y-u-py-7">
        <p class="y-t-fs-xl y-t-fw-medium">المقبلات و الحلويات</p>
      </div>
      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/creama.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">كريمة</p>
          <p class="menu-item-calories">335</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            10
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/dish4.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">كنافة</p>
          <p class="menu-item-calories">490</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            10
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/caramelized-onion.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">بصل مقمر</p>
          <p class="menu-item-calories">10</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            3
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/sambosak.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">سمبوسك</p>
          <p class="menu-item-calories">95</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            2.5
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="category y-u-col-12 y-u-p-5 y-u-py-7">
        <p class="y-t-fs-xl y-t-fw-medium">المشروبات</p>
      </div>
      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/cola.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">مشروبات غازية</p>
          <p class="menu-item-calories">111</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            4
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/milk.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">لبن</p>
          <p class="menu-item-calories">131</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            3
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>

      <div class="menu-item y-u-text-center  y-u-d-flex y-u-flex-column y-u-justify-center y-u-align-content-center y-u-gap-3">
        <div class="img y-u-d-flex y-u-justify-center y-u-align-content-center y-u-p-3">
          <img src="/assets/water.png" alt="طبق 1" />
        </div>
        <div class="menu-item-content y-u-d-flex y-u-flex-row y-u-align-items-center y-u-justify-between y-u-p-2 y-u-pt-4" style="color: var(--btn-color)">
          <p class="y-t-fs-lg y-t-fw-medium">
            ماء <span style="font-size: small">(صغير)</span>
          </p>
          <p class="menu-item-calories">0</p>
        </div>
        <div class="y-u-d-flex y-u-justify-between y-u-align-content-center">
          <a href="#" class="price-btn y-t-font-bold y-u-bg-white y-u-obj-border-radius-5 y-u-py-2 y-u-px-10 y-u-d-flex y-u-justify-center y-u-align-content-center">
            1
            <span class="y-u-d-flex y-u-align-items-center y-u-justify-center">
              <img src="/assets/Vector3.png" alt="" />
            </span>
          </a>
          <a href="cart.html" class="add-btn y-u-d-flex y-u-justify-center y-u-align-content-center">
            <i class="fas fa-plus y-u-d-flex y-u-align-items-center"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
