<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.7, maximum-scale=1.0, user-scalable=no"
    />
    <title data-y="page-title">الرئيسية</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../base/reset.css" />
    <link rel="stylesheet" href="../../base/tokens.css" />
    <link rel="stylesheet" href="../../base/typography.css" />
    <link rel="stylesheet" href="../../base/utilities.css" />

    <link rel="stylesheet" href="../../components/y-c-navbar.css" />
    <link rel="stylesheet" href="../../components/y-c-footer.css" />
    <link rel="stylesheet" href="../../components/y-c-payment-form.css" />
    <link rel="stylesheet" href="../../components/y-c-cart-summary.css" />
    <link rel="stylesheet" href="../../components/y-c-cart-product-card.css" />
    <link rel="stylesheet" href="../../components/y-c-checkout-form.css" />
    <link rel="stylesheet" href="../../templates/payment/payment.css" />
  </head>
  <body>
    <div data-y="nav"></div>

    <main
      data-y="main"
      class="y-u-my-5 y-u-container-fluid y-u-d-flex y-u-flex-column y-u-justify-center"
    >
      <div
        class="y-u-row y-u-container-fluid y-u-d-flex y-u-flex-wrap y-u-justify-center"
      >
        <p class="y-u-col-12 y-t-fs-titles y-u-pe-5 y-u-my-7">الدفع</p>

        <div class="y-u-d-flex y-u-flex-wrap y-u-justify-center y-u-col-12">
          <div data-y="payment-form" class="y-u-col-lg-7 y-u-col-sm-11"></div>

          <div
            class="y-u-col-lg-5 y-u-col-sm-10 y-u-d-flex y-u-flex-column y-u-gap-3"
            data-y="cart-section"
          >
            <div
              data-y="cart-product-card"
              class="y-u-d-flex y-u-align-items-center"
            ></div>
            <div data-y="cart-summary" class="y-u-col-sm-12"></div>
          </div>
        </div>

        <div data-y="checkout-form" class="y-u-col-lg-10 y-u-col-sm-11 y-u-mt-10"></div>
      </div>
    </main>

    <footer data-y="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <script src="../../js/y-navbar.js"></script>
    <script src="../../js/y-footer.js"></script>
    <script src="../../js/y-payment-form.js"></script>
    <script src="../../js/y-cart-summary.js"></script>
    <script src="../../js/y-cart-product-card.js"></script>
    <script src="../../js/y-checkout-form.js"></script>
  </body>
</html>
